<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/bootstrap.min.css">

  <title>GNOME Metrics - Merge requests in need of attention</title>
</head>

<body>
<div class="container mt-md-3">
<h1>GNOME Metrics</h1>

<p>
This is a project to provide some simple metrics for the development community
of <a href="https://www.gnome.org">GNOME</a>. This website is
<a href="https://gitlab.gnome.org/sthursfield/gitlab-merge-requests-monitor">open source</a>.
</p>

<p>
See also: the <a href="maintainers.html">list of project maintainers</a>.
</p>

<h2>Merge requests in need of attention</h2>

<p>
This is a list of first-contribution merge requests that have been open for a
week or more with no feedback.
</p>

<p>
The list is sometimes posted as a <a href="https://discourse.gnome.org/tag/review-request">review-request</a>
on the <a href="https://discourse.gnome.org">GNOME Discourse forum</a>.
</p>

{% for mr in merge_requests %}

<h3>{{ mr.project_name }} - {{ mr.title }}</h3>

<p>
{{ mr.opened }}<br>
Author: <a href="{{mr.author_web_url}}">{{ mr.author_username }}</a><br>
URL: <a href="{{ mr.web_url }}">{{ mr.web_url }}</a>
</p>

{% endfor %}
</div>
</body>
</html>
