<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="styles/bootstrap.min.css">
  <link rel="stylesheet" href="styles/datatables.min.css">

  <script type="text/javascript" src="scripts/jquery-3.5.1.slim.min.js"></script>
  <script type="text/javascript" src="scripts/datatables.min.js"></script>
  <!-- https://datatables.net/plug-ins/dataRender/datetime -->
  <script type="text/javascript" src="scripts/datetime.js"></script>
  <!-- https://momentjs.com/ -->
  <script type="text/javascript" src="scripts/moment.min.js"></script>

  <title>GNOME Metrics - Maintainers</title>
</head>

<body>
<div class="container mt-md-3">

<h1>GNOME Metrics</h1>

<p>
This is a project to provide some simple metrics for the development community
of <a href="https://www.gnome.org">GNOME</a>. This website is
<a href="https://gitlab.gnome.org/sthursfield/gitlab-merge-requests-monitor">open source</a>.
</p>

<p>
See also: the <a href="index.html">list of merge requests in need of attention</a>.
</p>

<h2>Maintainers</h2>

<p>
This table shows the registed <i>maintainer(s)</i> of each <a href="https://gitlab.gnome.org/GNOME">GNOME module</a>.
The table is updated daily.
</p>

<p>
The named contributors have extra <a href="https://docs.gitlab.com/ee/user/permissions.html">GitLab permissions</a>
for the module. Maintainers are usually volunteer contributors, and being listed here doesn't mean they are actively
contributing now.
</p>

<p>
<table id="example" class="table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Project</th>
            <th>Links</th>
            <th>Maintainers</th>
            <th>Last activity</th>
            <th>Last code commit</th>
            <th>Commit count</th>
            <th class="d-none">Last code commit before</th>
            <th class="d-none">Last code commit URL</th>
            <th class="d-none">Last code commit index</th>
            <th class="d-none">Slug</th>
        </tr>
    </thead>
    <tbody>
        {% for project in projects %}
        <tr>
            <td>
                {{ project.name }}
            </td>
            <td>
                {% if project.homepage_url %}<a href="{{ project.homepage_url }}">🏠</a>{% endif %}
                {% if project.repo_url %}<a href="{{ project.repo_url }}">📁</a>{% endif %}
            </td>
            <td>{{ project.maintainer_names }}</td>
            <td>{{ project.last_activity_at }}</td>
            <td>{{ project.last_code_commit_before }}</td>
            <td>{{ project.commit_count }}</td>
            <td class="d-none">{{ project.last_code_commit_before }}</td>
            <td class="d-none">{{ project.last_code_commit_url }}</td>
            <td class="d-none">{{ project.last_code_commit_index }}</td>
            <td class="d-none">{{ project.slug }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

</div>

<script>
$(document).ready(function() {
  var dataSrc = [];

  var render_last_code_commit = function(data, type, row, meta) {
    if (type == 'display') {
      var m = window.moment(row[6], moment.ISO_8601);
      var url = row[7];
      var index = row[8];
      var datestr = `<a href="${url}">${m.fromNow()}</a>`;
      if (index >= 49) {
        datestr += ' or before';
      }
      return datestr;
    } else {
      return data;
    }
  }

  var table = $('#example').DataTable({
    'columnDefs': [
      { targets: 1, orderable: false, width: '2.8em' },
      { targets: 3, render: $.fn.dataTable.render.momentFromNow( moment.ISO_8601 ) },
      { targets: 4, render: render_last_code_commit, data: 6 }
    ]
  });
});
</script>
</body>
</html>
